.adminwebgrid
{
      width: 80%;
        border: 0px;
        border-collapse: collapse;
}
.webgrid
    {
        width: 80%;
        border: 0px;
        border-collapse: collapse;
    }
     
    .webgrid a
    {
       color: #000;
   }
   
    a:link {
        COLOR: Gray;
    }
    a:visited {
        COLOR: GrayText;
    }
    a:hover {
        COLOR: Gray;
    }
    a:active {
        COLOR: Gray;
    }

    .webgrid th, .webgrid td
    {
        border-bottom: 1px solid #666699;
        padding: 5px;
        color: Brown;
    }
    
   .webgrid-header
   {
       padding: 6px 5px;
       background-color: ThreeDLightShadow;
       color: Blue;    
       border-bottom: 2px solid #3966A2;
       height: 40px;
   }
    
   .webgrid-footer
   {
       padding: 6px 5px;
       text-align: center;
       /*background-color: #f2f2f2;*/
       border-top: 2px solid #3966A2;
       height: 30px;
   }
    
   .webgrid-alternating-row
   {
       height: 30px;
       background-color: #f2f2f2;
       border-bottom: 1px solid #d2d2d2;
   }
    
   .webgrid-row-style
   {
       height: 30px;
       border-bottom: 1px solid #d2d2d2;
   }
    
   .webgrid-selected-row
   {
       font-weight: bold;
   }
