@model List<docbox.Models.ExistingUsers>
@{
    ViewBag.Title = "Existing Users";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
@{ var grid = new WebGrid(Model, canPage: true, rowsPerPage: 10);
   grid.Pager(WebGridPagerModes.NextPrevious); 
}
 @Html.ValidationSummary(true, "")
<div class="navbar">
    @{  <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li class="active"><a class="brand" href="#">Existing Users</a> </li>
            </ul>
        </div>
    </div>
    
        @grid.GetHtml(tableStyle: "adminwebgrid",
          headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
         alternatingRowStyle: "webgrid-alternating-row",
         selectedRowStyle: "webgrid-selected-row",
         rowStyle: "webgrid-row-style",
                htmlAttributes: new { id = "DataTable" },
                columns: grid.Columns(
                                      grid.Column("Name", "Name"),
                                      grid.Column("Department"),
                                      grid.Column("Position"),
                                      grid.Column("Email"),
                                               grid.Column("AccessLevel"),
                                      
                                      grid.Column(header: "Modify", format: (item) => Html.ActionButton("", "EditAnExistingUser", "Admin", "icon-edit", new { id = item.Email} ), canSort: true),
                                      
                                     grid.Column(header: "Delete User", format: (item) => Html.ActionButton("", "DeleteExistingUser", "Admin", "icon-trash", new { id = item.Email }), canSort: true)

        ));
        
  
    }
</div>
