 <div class="sidebar-nav">
    <div class="well" style="width:200px; padding: 8px 0;">
    <ul class="nav nav-list">
    <li class="nav-header"></li>
    <li><a href="#"> Requests</a> </li>
     <li>@Html.ActionButton("Requests", "TempUsers", "Admin", null, null)</li>
    <li>@Html.ActionButton("Existing Users", "ExistingUsers", "Admin", null, null)</li>
    </div>
    </div>