@model docbox.Models.DX_FILES

@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_DocumentLayout.cshtml";
    
}

<h2>Upload</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        function update() {
            if (document.getElementById("encCheck").checked) {
                document.getElementById("keyFile").disabled = false;
            }
            else
                document.getElementById("keyFile").disabled = true;
            document.getElementById("keyFile").value = "";
        }
        function onleave() {
            alert("Left");
        }
</script>

@*@using (Html.BeginForm()) {*@
    
    @Html.ValidationSummary(true)

  <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
 <fieldset>
<div class="control-group">
    <label class="control-label"  for="file">Select File</label>
    <div class="controls">
            <input type="file" name="file" id="file"/>
    </div>
</div>
<div class="control-group">
    <label class="control-label"  for="filename">Description</label>
    <div class="controls">
            <input type="text" id="description" name="description" placeholder="" class="input-xlarge"/>
    </div>
</div>
<div class="control-group">
 <label class="checkbox">
            <div class="controls">
                <input type="checkbox" name="encrypted" onchange="update()" id="encCheck"> Encrypt? </input>
                <input type="file" name="keyFile" id="keyFile" disabled/>
                </div>
            </label>
           
            </div>
            
            <div class="control-group">
            <div class="controls">
                        <input type="submit" value="Upload" class="btn btn-primary"/>
                        </div>
                        </div>

 </fieldset>
 <div>
 <div class="control-group">
            <div class="controls">
    @Html.ActionLink("Back to List", "ListDocuments")
    </div>
</div>
        </form>

    
    
    </div>