@model docbox.Models.DX_FILES

@{
    ViewBag.Title = "Details";
}

<h2>Download Document</h2>

<script type="text/javascript">
    function isEncrypted(encrypted) {
        var selected = document.getElementById("dropdown").value;
        if(encrypted=="true")
            document.getElementById("keyFile").disabled = false;
        else
            document.getElementById("keyFile").disabled=true;
    }
</script>

<form class="form-horizontal" name="mainform" method="post">
<fieldset>
    <input type="hidden" name="fileid" value="@ViewData["fileid"]" />

    <div class="control-group">
    <label class="control-label"  for="file">File Name</label>
    <div class="control-group">
    <label class="control-label" for"filename" value="@ViewData["filename"]"/>
    </div>
    </div>

    @{ 
        int count = 0;
        
        var fileversions = (string[])ViewData["fileversions"];
        foreach(string fileversion in fileversions){
            count++;
        }
        string[] version = new string[count];
        for (int j = 0; j < count; j++)
            version[j] = fileversions[j];
    }      

    <div class="control-group">
    <label class="control-label"  for="file">File Version</label>
    <div class="controls">
    <select onchange="isEncrypted()" name="selectdrop" id="dropdown">
    @{
        int i=0;
        for(i=0;i<count;i++)
         @Html.Raw("<option" + version[i] + ">" + i + "</option>");  
        }

    </select>
    </div>
    </div>
    
    <div class="control-group">
    <label class="control-label"  for="file">Key File</label>
    <div class="controls">
            <input type="file" name="keyFile" id="keyFile" disabled/>
    </div>
</div>

            <div class="control-group">
           <div class="controls">
                        <input type="submit" value="Download" class="btn btn-primary"/>
                        </div>
                        </div>

    
    @Html.ActionLink("Back to List", "ListDocuments")
    </fieldset>
    </form>

