@model List<docbox.Models.FileShared>
@{
    ViewBag.Title = "Shared Documents";
    Layout = "~/Views/Shared/_DocumentLayout.cshtml";
}
<script language="javascript" type="text/javascript">
    function updateChk(parameter) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("CheckInOutShared","Documents")',
            data: { fileid: parameter },
            success: function () {
            }
        })
    }
</script>

@{ var grid = new WebGrid(Model, canPage: true, rowsPerPage:10);
   grid.Pager(WebGridPagerModes.NextPrevious); 
}
<div class="navbar">
    <div class="navbar-inner">
        @using (Html.BeginForm("DocAction", "Documents", FormMethod.Post))
        {
            IDictionary<string, string> searchConditions = new Dictionary<string, string>();

            if (TempData["SearchConditions"] != null)
            {
                searchConditions = TempData["SearchConditions"] as Dictionary<string, string>;
            }

            this.TempData["SearchConditions"] = searchConditions;

            string conditions1 = searchConditions.Keys.Contains("fileName") ? searchConditions["fileName"] : string.Empty;
            <div class="container">
                <ul class="nav">
                    <li class="active"><a class="brand" href="#">Shared Docs</a> </li>
                <li class="divider-vertical">
                        <input id="txtSearch" type="text" name="fileName" class="search-query pull-left" placeholder="Search" />               
                 <label for="search" class="btn btn-link"><i class="icon-search"></i>Search</label>
                        <input id="search" type="submit" name="action:SearchSharedDocs" value="Go" class="hidden" /></li>
               </ul>
                @grid.GetHtml(tableStyle: "webGrid",
                        headerStyle: "webgrid-header",
                        footerStyle: "webgrid-footer",
                        alternatingRowStyle: "webgrid-alternating-row",
                        selectedRowStyle: "webgrid-selected-row",
                        rowStyle: "webgrid-row-style",
                        htmlAttributes: new { id = "myGrid", name = "myGrid" },
                        columns: grid.Columns(
                        grid.Column(format: @<text><input class="check-box" name="Select" type="checkbox" hidden="hidden" value=@item.FileID  /></text>),
                        grid.Column("FileName", header: "File Name", format: @<text>@Html.ActionLink((string)item.FileName,
                        "SharedDocDetails", "Documents", new { @fileId = item.FileId }, null)</text>),
                        grid.Column(header: "Description", columnName: "Description"),
                        grid.Column(header: "File Version", columnName: "FileVersion"),
                        grid.Column(header: "Created By", columnName: "Owner"),
                        grid.Column(header: "Created On", columnName: "CreationDate"),
                        grid.Column("Check-in/Out", format: (item) => item.check == true ? Html.CheckBox("checkLock", item.check == true ? false : true, new { name = "checkLock", id = "checkLock", value = item.FileID, onchange = "updateChk('" + item.FileID + "')" }) : Html.Raw("NA")),
                                         grid.Column("Update", format: (item) => item.check == true ? Html.ActionButton("", "UpdateSharedDocs", "Documents", "icon-refresh", new { fileId = item.FileID }) : Html.Raw("NA")),
                        grid.Column("Edit", format: (item) => item.update == true ? Html.ActionButton("", "Edit", "Documents", "icon-pencil", new { id = item.FileID }) : Html.Raw("NA"))
                        ))
    </div>
}
</div>
</div>
