@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>You request for getting correct privileges is sent to Administrator , You will receive an email as soon as we assign you a role.
You will be able to log in to your dashboard</p>
