@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     DocBox is a Web Based Document Management System intended for sharing content within the organization in a secured manner.
     This was done as part of CSE 545 Software Security Project.
     The team includes:
     Adithya Jadhav
     Akshay Kulkarni
     Gautham Harekrishnan
     Kishan Maddula
     Rajaram Singaravelu
     Smriti Tripathi
</p>
