<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <connectionStrings>
    <add name="dx_docboxEntities" connectionString="metadata=res://*/Models.DocboxModel.csdl|res://*/Models.DocboxModel.ssdl|res://*/Models.DocboxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ADITYA-PC\SQL;Initial Catalog=dx_docbox;Integrated Security=True;MultipleActiveResultSets=true&quot;" providerName="System.Data.EntityClient" />
    <add name="DX_LOGGEREntities" connectionString="metadata=res://*/Models.DocboxLogger.csdl|res://*/Models.DocboxLogger.ssdl|res://*/Models.DocboxLogger.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ADITYA-PC\SQL;Initial Catalog=DX_LOGGER;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\tmp\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>

  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="adminEmail" value="cse545.group9" />
    <add key="adminEmailPassword" value="jLUcqAsE3EZJ" />
  </appSettings>

  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Account">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.web>
    <customErrors mode="On"/>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>

    </compilation>

    <!--  <httpCookies requireSSL="true" />-->
    <!-- Encrupt cookies-->

    <!--Forms auth with ssl requirement-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="20" path="/" requireSSL="false" protection="All" />
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>

    <roleManager defaultProvider="roleprovider" enabled="true" cacheRolesInCookie="false">
      <providers>
        <clear />
        <add name="roleprovider" type="docbox.Utilities.ApplicationRoleProvider" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <httpRuntime executionTimeout="110" maxRequestLength="34000" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  <log4net>
    <root>
      <level value="ALL" />

      <appender-ref ref="docbox_appender" />

    </root>
    <appender name="docbox_appender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="200" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=ADITYA-PC\SQL;initial catalog=DX_LOGGER;integrated security=true;persist security info=True;" />
      <commandText value="INSERT INTO adminlog ([datetime],[docboxthread],[loglevel],[logger],[logmessage]) VALUES (@log_date, @thread, @log_level, @logger, @message)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="300" />
        <layout type="log4net.Layout.PatternLayout" value="%thread" />
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="20" />
        <layout type="log4net.Layout.PatternLayout" value="%log_level" />
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="300" />
        <layout type="log4net.Layout.PatternLayout" value="%logger" />
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="300" />
        <layout type="log4net.Layout.PatternLayout" value="%message" />
      </parameter>

    </appender>

  </log4net>

  
</configuration>
