<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="adminEmail" value="cse545.group9"/>
    <add key="adminEmailPassword" value="jLUcqAsE3EZJ"/>
  </appSettings>
  <system.web>
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>

    </compilation>

    <!--  <httpCookies requireSSL="true" />-->
    <!-- Encrupt cookies-->

    <!--Forms auth with ssl requirement-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="20" path="/" requireSSL="false" protection="All" />
    </authentication>



   
    <roleManager defaultProvider="roleprovider" enabled="true" cacheRolesInCookie="false">
      <providers>
        <clear />
        <add name="roleprovider" type="docbox.Utilities.ApplicationRoleProvider" />
      </providers>
    </roleManager>
   
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <httpRuntime executionTimeout="110" maxRequestLength="20480" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<connectionStrings><add name="dx_docboxEntities" connectionString="metadata=res://*/Models.DocboxModel.csdl|res://*/Models.DocboxModel.ssdl|res://*/Models.DocboxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL-PC\SQLEXPRESS;initial catalog=DX_DOCBOX;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
